<div class="container">
<div class="content-wrapper">
<div class="col-12 grid-margin stretch-card">
  <div class="card">
    <div class="card-body">
     <h4 class="card-title">Sign up</h4>
      <p class="card-description"> Fill your details </p>
      <%# <form class="forms-sample"> %>
          <%= form_for(resource, as: resource_name, url: registration_path(resource_name),:html => {:multipart => true}, class: 'forms-sample') do |f| %>
             <%= render "devise/shared/error_messages", resource: resource %>  
              <div class="form-group">
                <%# <label for="exampleInputName1">Name</label> %>
                <%= f.label :name %><br />
                <%# <input type="text" class="form-control" id="exampleInputName1" placeholder="Name"> %>
                <%= f.text_field :name, autofocus: true, autocomplete: "name", class: 'form-control', placeholder: 'Name' %>
              </div>
              <div class="form-group">
                <%# <label for="exampleInputEmail3">Email address</label> %>
                <%= f.label :email %><br />
                  <%# <input type="email" class="form-control" id="exampleInputEmail3" placeholder="Email"> %>
                <%= f.email_field :email, autofocus: true, autocomplete: "email",class: 'form-control', placeholder: 'email address' %>
              </div>
              <div class="form-group">
                        <%# <label for="exampleInputPassword4">Password</label> %>
                <%= f.label :password do %>
                  <%=f.label :password%>
                  <% if @minimum_password_length %>
                    <em style='font-size:12px;'>(<%= @minimum_password_length %> characters minimum)</em>
                  <% end %><br />
                <% end %>
                        <%# <input type="password" class="form-control" id="exampleInputPassword4" placeholder="Password"> %>
                <%= f.password_field :password, autocomplete: "new-password",class: 'form-control', placeholder: 'password'  %>
              </div>
              <div class='form-group'>
                <%= f.label :password_confirmation %><br />
                 <%= f.password_field :password_confirmation, autocomplete: "new-password" ,class: 'form-control', placeholder: 're-enter password'  %>
              </div>
                      <%# <div class="form-group">
                        <label for="exampleSelectGender">Gender</label>
                        <select class="form-control" id="exampleSelectGender">
                          <option>Male</option>
                          <option>Female</option>
                        </select>
                      </div> %>
                      <%# <div class="form-group">
                        <label>File upload</label>
                        <input type="file" name="profilwimage]" class="file-upload-default">
                        <div class="input-group col-xs-12">
                          <input type="text" class="form-control file-upload-info" disabled placeholder="Upload Image">
                          <span class="input-group-append">
                            <label class="btn btn-gradient-primary">
                               Add profile picture
                                <span style="display:none;">
                                  <%= f.file_field :profile_image, required: true, multiple: true, name: 'user[profile_image]' %>
                                <%# </span> %>
                            <%# </label> %>
                            <%# <button class="file-upload-browse btn btn-gradient-primary" type="button">Upload</button> %>
                            <%# <button><input autofocus="autofocus" type="file" name="user[profile_image]" id="user_profile_image" class="file-upload-browse btn btn-gradient-primary"  /></button> %>
                          <%# </span> %>
                        <%# </div> %>
                      <%# </div> %>
                      <%# <div class="form-group">
                        <label for="exampleInputCity1">City</label>
                        <input type="text" class="form-control" id="exampleInputCity1" placeholder="Location">
                      </div>
                      <div class="form-group">
                        <label for="exampleTextarea1">Textarea</label>
                        <textarea class="form-control" id="exampleTextarea1" rows="4"></textarea>
                      </div> %>
                      <%# <button type="submit" class="btn btn-gradient-primary mr-2">Submit</button> %>
                    
              <%= f.submit "Sign up", class: 'btn btn-gradient-primary mr-2'%>
              <%= button_tag "Reset", type: :reset ,class:"btn btn-light"%>
                      <%# <button class="btn btn-light">Cancel</button> %>
            <div class='float-right'>            
              <%= render "devise/shared/links"%>
            </div>  
           <% end %>
    </div>
  </div> 
</div>
 </div> 
</div>
