
<div class="main-panel">
  <div class="content-wrapper"  style="background-image: url('<%= @event.image %>');">
    <div class="page-header">
      <h3 class="page-title">
        <span class="page-title-icon bg-gradient-primary text-white mr-2">
          <i class="mdi mdi-calendar"></i>
        </span> <%= @event.name %>
        </h3>
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/events">Events</a></li>
            <li class="breadcrumb-item active" aria-current="page"><%= @event.name %></li>
          </ol>
        </nav>
    </div>
    <div class="row" >
      <div class="col-md-6 grid-margin stretch-card">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">Details</h4>
            <p class="card-description"></p>
            <div class="template-demo">
              <h4> 
                <strong>Event name:</strong>
                <%= @event.name %>
              </h4>
              <h4>
                <strong>Description:</strong>
                <%= @event.body %>
              </h4>
              <h4>
                 <strong>Location:</strong>
                 <%= @event.location.to_s.gsub(',',',  ') %>
              </h4>
              <h4>
                 <strong>Date:</strong>
                 <%= @event.date.strftime("%d-%m-%y") %>
              </h4>
              <h4>
                <strong>Time:</strong>
                 <%= @event.date.strftime("%I:%M %p") %>
               </h4>
               <h4>
                  <strong>Posted by:</strong>
                  <%= link_to  @event.user.name, user_path(@event.user) %>
               </h4>
              </div>
          </div>
        </div>
      </div>
      <div class="col-md-6 grid-margin stretch-card">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">Map</h4>
            <p class="card-description"> </p>
            <div class="template-demo">
              <%= image_tag "https://dev.virtualearth.net/REST/v1/Imagery/Map/Road/#{@event.latitude},#{@event.longitude}/11?mapSize=460,300&pp=#{@event.latitude},#{@event.longitude};66&mapLayer=Basemap,Buildings&key=#{ENV['bing_api_key']}"%> 
            </div>
          </div>
        </div>
      </div>
    </div>
    </div>

    