<!DOCTYPE html>
<html>
  <head>
    <title>Eva</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= favicon_link_tag asset_path('eva-icon.png') %>
     <!-- Required meta tags -->
     <title>Purple Admin</title>
    <!-- plugins:css -->
    <%# <link rel="stylesheet" href="assets/materialdesignicons.min.css"> %>
    <%# <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@mdi/font@5.9.55/css/materialdesignicons.min.css"> %>

    <link rel="stylesheet" href="assets/vendor.bundle.base.css">
    <!-- endinject --> 
    <!-- Plugin css for this page -->
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <!-- endinject -->
    <!-- Layout styles -->
    <link rel="stylesheet" href="assets/style.css">
    <!-- End layout styles -->
    <link rel="shortcut icon" href="assets/images/favicon.png" />
  </head>

  <body>
    <%= notice %>
    <%= alert %>
    <%= yield %>
    <% if user_signed_in? %>
      <div class="container-scroller">
        <!-- partial:partials/_navbar.html -->
           <%= render 'layouts/navbar' %>
        <!-- partial -->
        <div class="container-fluid page-body-wrapper">
          <!-- partial:partials/_sidebar.html -->
          <%= render 'layouts/sidebar' %>
          <!-- partial -->
          <%= render 'layouts/mainpanel'%>
          <!-- main-panel ends -->
        </div>
        <!-- page-body-wrapper ends -->
      </div>
    <% end %>
    
  </body>
</html>